<%- include('../partials/hero/admin') %>

<form class="hero-body" id='admin-edit' action='/admin/<%= collectionName %>/<%= document._id %>' method='POST'>
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-6 is-offset-3">
        <h1 class="title">
          Edit <%= collectionName.charAt(0).toUpperCase() %><%= collectionName.slice(1) %>
        </h1>
        <div class="box">
          <label class="label">Name</label>
          <p class="control">
            <input class="input" type="text" name='name' value='<%= document.name %>' required>
          </p>

          <br>
          <label class="label" for='image-url'>Image URL</label>
          <p class="control">
            <input class="input" type="text" name='imageUrl' value='<%= document.imageUrl %>'>
          </p>

          <br>
          <label class="label" for='description'>Description</label>
          <p class="control">
            <input class="input" type="text" name='description' value='<%= document.description %>'>
          </p>

          <hr>
          <p class="control">
            <button class="button is-primary">Update</button>
            <a class="button is-default" href="/admin/<%= collectionNamePlural %>">Cancel</a> %>          
          </p>
        </div>
      </div>
    </div>
  </div>
</form>