<%- include('../partials/hero/admin') %>

<form class="hero-body" id='admin-edit' action='/admin/<%= collectionName %>/<%= document._id %>' method='POST'>
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-6 is-offset-3">
        <h1 class="title">
          Edit <%= collectionName.charAt(0).toUpperCase() %><%= collectionName.slice(1) %>
        </h1>
        <div class="box">
          <label class="label">Name</label>
          <p class="control">
            <input class="input" type="text" name='name' value='<%= document.name %>' required>
          </p>

          <br>
          <label class="label" for='image-url'>Image URL</label>
          <p class="control">
            <input class="input" type="text" name='imageUrl' value='<%= document.imageUrl %>'>
          </p>

          <br>
          <label class="label" for='description'>Description</label>
          <p class="control">
            <input class="input" type="text" name='description' value='<%= document.description %>'>
          </p>

          <% if(collectionName === 'tool') { %>
          <br>
          <label class="label" for='website'>Website URL</label>
          <p class="control">
            <input class="input" type='text' id='website' name='website' value='<% document.website %>'></input>
          </p> 

          <br>
          <label class="label" for='documentation'>Documentation URL</label>
          <p class="control">
            <input class="input" type='text' id='documentation' name='documentation' value='<% document.documentation %>'></input>
          </p> 

          <br>
          <label class="label" for='github'>GitHub URL</label>
          <p class="control">
            <input class="input" type='text' id='github' name='github' value='<% document.github %>'></input>
          </p> 

          <br>
          <label class="label" for='technology'>Technology</label>
          <p class="control">
            <input class="input" type='text' id='technology' name='technology' value='<% document.technology %>'></input>
          </p> 
          <% } %>

          <hr>
          <p class="control">
            <button class="button is-primary">Update</button>
            <a class="button is-default" href="/admin/<%= collectionNamePlural %>">Cancel</a> %>          
          </p>
        </div>
      </div>
    </div>
  </div>
</form>