<%- include('../partials/hero/admin') %>

<section class="section">
  <div class="container">

    <h1>New <%= collectionName.charAt(0).toUpperCase() %><%= collectionName.slice(1) %></h1>

    <form id='admin-new' action='/admin/<%= collectionNamePlural %>' method='POST'>

      <label for='name'>Name</label>
      <input type='text' id='name' name='name' required autofocus>

      <label for='image-url'>Image URL</label>
      <input type='text' id='image-url' name='imageUrl'>

      <label for='description'>Description</label>
      <input type='text' id='description' name='description'></input>

      <button type='submit'>Create <%= collectionName %></button>
      <a href='/admin/<%= collectionNamePlural %>'>Cancel</a> 
    </form>
  </div>
</section>