<%- include('../partials/hero/admin') %>

<form class="hero-body" action='/admin/users' method='POST'>
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-6 is-offset-3">
        <h1 class="title">
          New <%= collectionName.charAt(0).toUpperCase() %><%= collectionName.slice(1) %>
        </h1>
        <div class="box">
          <label class="label" for='name'>Name</label>
          <p class="control">
            <input class="input" type='text' id='name' name='name' required autofocus>
          </p>
          
          <br>
          <label class="label" for='image-url'>Image URL</label>
          <p class="control">
            <input class="input" type='text' id='image-url' name='imageUrl'>
          </p>

          <br>
          <label class="label" for='description'>Description</label>
          <p class="control">
            <input class="input" type='text' id='description' name='description'></input>
          </p> 

          <% if(collectionName === 'tool') { %>
          <br>
          <label class="label" for='website'>Website URL</label>
          <p class="control">
            <input class="input" type='text' id='website' name='website'></input>
          </p> 

          <br>
          <label class="label" for='documentation'>Documentation URL</label>
          <p class="control">
            <input class="input" type='text' id='documentation' name='documentation'></input>
          </p> 

          <br>
          <label class="label" for='github'>GitHub URL</label>
          <p class="control">
            <input class="input" type='text' id='github' name='github'></input>
          </p> 

          <br>
          <label class="label" for='technology'>Technology</label>
          <p class="control">
            <input class="input" type='text' id='technology' name='technology'></input>
          </p> 
          <% } %>

          <hr>
          <div class="field is-grouped">
            <p class="control">
              <button class="button is-primary">Create <%= collectionName %></button>
            </p>
            <p class="control">
            <a class="button is-default" href="/admin/<%= collectionNamePlural %>">Cancel</a>
            </p>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</form>