<script>
    function toggle(postID) {
        document.getElementById('post_' + postID).classList.toggle('hidden');
        document.getElementById('expand_' + postID).classList.toggle('hidden');
    }

</script>

<div class="card post is-paddingless">

    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="<%= post.user ? post.user.imageUrl : '' %>" alt="Image">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4"><%= post.summary %></p>
                <p class="subtitle is-6"><%= post.user ? post.user.username : '' %></p>
            </div>
            <% if (user && user.role === 'ADMIN') { %>
            <div class="media-right">
                <span class="icon is-medium">
                    <i class="fa fa-pencil-square"></i>
                </span>
            </div>
            <div class="media-right">
                <span class="icon is-medium">
                    <i class="fa fa-times-circle"></i>
                </span>
            </div>
            <% } %>
        </div>
    </div>

    <div class="card-content is-paddingless">
        <div class="content description">
            <div id="expand_<%= post._id %>" class="expand" onclick="toggle('<%= post._id %>')">
                <span class="icon is-large">
                    <i class="fa fa-angle-down"></i>
                </span>
            </div>
            <div id="post_<%= post._id %>" class="media-content hidden">
                <div class="content section">
                    <%= post.content %>
                </div>
                <div class="expand" onclick="toggle('<%= post._id %>')">
                    <span class="icon is-large">
                    <i class="fa fa-angle-up"></i>
                </span>
                </div>
            </div>
        </div>
    </div>
</div>
