<article class="box">
    <article class="media">
        <div class="media-left">
            <figure class="image is-64x64">
                <img src="<%= tool.imageUrl %>" alt="Image">
            </figure>
        </div>

        <div class="media-content">
            <div class="content">
                <strong><%= tool.name %></strong>
                <a class="button" href="/gotcha/<%= tool._id %>">Gotchas</a> 
                <a class="button" href="/awesome/<%= tool._id %>">Awesomes</a> 
                <a class="button" href="/doc/<%= tool._id %>">Docs</a> 
                <a class="button" href="/post/<%= tool._id %>">Post</a> 
            </div>
        </div>

    </article>
</article>