<% if (isUserLoggedIn && isUserAdmin) { %>
  <h1>Edit Post</h1>
  <form action='/admin/post/<%=post._id%>' method='post'>
<% } else { %>
  <h1>Edit My Post</h1>
  <form action='/profile/<%= currentUser.user._id %>/post/<%post._id%>' method='post'>  
<% } %>
  <div class='field'>
        <label class='label'>Title</label>
        <p class='control'>
            <input class='input' type='text' placeholder='title' name='title' value='<%=post.title %> required'>
        </p>
    </div>

    <div class='field'>
        <label class='label'>Category</label>
        <p class='control'>
            <span class='select'>
                <select name='category' required>
                    <option disabled>Select Category</option>       
                    <% categories.forEach( category => { %>
                        <option value='<%= category._id %>' <% if (String(post.category) === String(category._id)) { %> selected <% } %>><%= category.name %></option>
                    <% }); %>  
                </select>
            </span>
        </p>
    </div>

    <div class='field'>
        <label class='label'>Tool</label>
        <p class='control'>
            <span class='select'>
                <select name='tool' required>
                    <option disabled>Select Tool</option>
                    <% tools.forEach( tool => { %>
                        <option value='<%= tool._id %>' <% if (String(post.tool) === String(tool._id)) { %> selected <% } %>><%= tool.name %></option>
                    <% }); %> 
                </select>
            </span>
        </p>
    </div>

    <div class='field'>
        <label class='label' required>Summary</label>
        <p class='control'>
            <textarea class='textarea' placeholder='Description' name='summary'><%=post.summary %></textarea>
        </p>
    </div>

    <div class='field'>
        <label class='label' required>Content</label>
        <p class='control'>
            <textarea class='textarea' placeholder='Content' name='content'><%=post.content %></textarea>
        </p>
    </div>

    <div class='field is-grouped'>
        <p class='control'>
            <button type="submit" class='button is-primary'>Submit</button>
        </p>
        <p class='control'>
          <% if(isUserLoggedIn && isUserAdmin) { %>
            <a class='button is-link' href='/admin/posts'>Cancel</button>
          <% } else { %>
            <a class='button is-link' href='/profile/<%= currentUser.user._id %>/posts'>Cancel</button>
          <% } %>
        </p>
    </div>

</form>