<h1>Posts</h1>

<ul>
    <%posts.forEach( post => { %>
        <li>
            <article class="media post">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="<%= post.user.imageUrl %>">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong><%= post.summary %></strong>
                            <br>
                            <%= post.user.username %>
                            <%= post.tool ? post.tool.name : ''  %>
                            <%= post.category ? post.category.name : '' %>
                        </p>
                    </div>
                     <section>
                    <div class="media-content">
                        <div class="content">
                            <%= post.content %>
                        </div>
                    </div>
                </section> 
                </div>
                <div class="media-right">
                    <button class="delete"></button>
                </div>

                
            </article>
        </li>
        <% }); %>
</ul>