<% if (isUserLoggedIn && isUserAdmin) { %>

<h1>Edit User</h1>
<form id='admin-user-edit' action='/admin/user/<%= user._id %>' method='POST'>

<% } else { %>
 
<h1>Edit My Profile</h1>
<form id='user-edit' action='/profile/<%= user._id %>' method='POST'>

<% } %>

  <label for='username'>Username</label>
  <input type='text' id='username' name='username' value='<%= user.username %>'>

  <label for='email'>Email</label>
  <input type='email' id='email' name='email' value='<%= user.email %>' required>

  <label for='image-url'>Profile Image URL</label>
  <input type='text' id='image-url' name='imageUrl' value='<%= user.imageUrl %>'>

  <label for='password'>Password</label>
  <input type='password' id='password' name='password' value='<%= user.password %>' required></input>

<% if (isUserLoggedIn && isUserAdmin) { %>

  <label for='role'>User Role</label>
  <input type='radio' name='role' value='user' <% if( user.role === 'USER') { %> checked='checked' <% }%>> User<br>
  <input type='radio' name='role' value='admin' <% if( user.role === 'ADMIN') { %> checked='checked' <% }%>> Admin<br>
    
  <br>
  <button type='submit'>Update User</button>
  <a href='/admin/users'>Cancel</a> 

<% } else { %>

  <br>
  <button type='submit'>Update My Profile</button>
  <a href='/profile'>Cancel</a> 

<% } %>
</form>

