<% if( onProfile ) { %>
  <section class="media">
<% } else { %>
  <section class="media user-list">
<% } %>
    <figure class="media-left">
    <p class="image is-128x128">
      <img src="<%= user.imageUrl %>">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <% if( user.username ) { %>
          <strong><%= user.username.charAt(0).toUpperCase() %><%= user.username.slice(1) %></strong>
          <span> &nbsp; </span>
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
          <small><%= user.email %></small> 
        <% } else { %>
        <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span>
        <strong><%= user.email %></strong> 
        <% } %>
        
        <% if( isUserAdmin ) { %>
          <span> &nbsp; </span>
          <% if( user.role === 'ADMIN' ) { %>
            <span class="tag is-warning"><%= user.role %></span>
          <% } else { %>
            <span class="tag is-info"><%= user.role %></span>
          <% } %>
        <% } %>

        <% if( user.bio ) { %>
          <p><%= user.bio %></p>
        <% } %>
          
      </p>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
          <% if (onProfile) { %>
          <a class="button is-primary level-item" href="/profile/<%= user._id %>/edit">Edit</a>
          <% } else {%>
          <a class="button is-primary level-item" href="/admin/user/<%= user._id %>/edit">Edit</a>
          <% } %>
          <% if( isUserAdmin && !onProfile && user._id != currentUser.user._id) { %>
          <% console.log("User id: "+ user._id+ " Email: " + user.email);%>
          <form class='admin-list__delete' action='/admin/user/<%= user._id %>/delete' method='POST'>
            <button class="button is-danger level-item">Delete</button>
          </form>
          <% } %>
      </div>
    </nav>
  </div>
</section>