<% if (isUserLoggedIn && isUserAdmin) { %>
  
<h1>User Data</h1>
<a href='/admin/user/<%= user._id %>/edit'>edit user</a>

<% } %>

<br>
<p>Email: <%= user.email %></p>
<p>Username: <%= user.username %></p>
<p>Image URL: <img class='user-image' src='<%= user.imageUrl %> '></p>

<% if (isUserLoggedIn && isUserAdmin) { %>

<p>Role: <%= user.role %></p>

<br>
<a href='/admin/users'>back</a>

<% } %>